//Brand Palette
$cardinal-red: #E41F35;
$cardinal-black: #27251F;
$cardinal-blue: #BBDDE6;
$warm-gray-7: #948A85;
$warm-gray-1: #EFEFEF;

//Extended Brand Palette
$brand-blue-1: #E6F5F7;
$brand-blue-2: #85B6C6;
$brand-blue-3: #6097AD;
$brand-blue-4: #3F7D98;
$brand-blue-7: #005C78;
$brand-blue-10: #12465B;
$brand-blue-12: #183847;


//Primary Interactive Palette
$primary-interactive-color: #3F7D98;
$text-link-color: #005C78;
$hover-color: #12445B;
$disabled-color: #B3CBD6;
$visited-links: #660099;

//Gray Component Palette

$Gray-90: #404041;
$Gray-80: #58595B;
$Gray-70: #888888;
$Gray-60: #ACABAA;
$Gray-50: #C3C3C3;
$Gray-40: #D3D2D3;
$Gray-30: #E2E1E1;
$Gray-20: #EFEFEF;
$Gray-10: #F7F7F7;


//Notices

$error-dark-color: #9B161A;
$error-base-color: #C61C2D;
$error-lt-color: #FCE3E5;
$warning-dark-color: #A95B06;
$warning-base-color: #E09A00;
$warning-lt-color: #FFEDC4;
$success-dark-color: #254E14;
$success-base-color: #3B6D25;
$success-lt-color: #E2F0D7;
$informational-dark-color: #005C78;
$informational-base-color: #3F7D98;
$informational-lt-color: #E6F5F7;


//Extended Illustration Palette
$blue-jay-dark-color: #539ED1;
$blue-jay-base-color: #80B8DB;
$blue-jay-lt-color: #A6CFE8;
$robin-egg-dark-color: #64C8CE;
$robin-egg-base-color:#90D3D9;
$robin-egg-lt-color: #BFE4E8;
$sky-blue-dark-color: #B6D9E8;
$sky-blue-base-color: #CEEBF0;
$sky-blue-lt-color: #E6F5F7;
$grasshopper-dark-color: #73D19E;
$grasshopper-base-color: #99DEB8;
$grasshopper-lt-color: #B8E8CF;
$duckbill-dark-color: #F79C59;
$duckbill-base-color: #FAB07D;
$duckbill-lt-color: #FCD1B2;
$canary-dark-color: #FCC954;
$canary-base-color: #FFD98A;
$canary-lt-color: #FFEDC4;
$papillon-dark-color: #AAA1CF;
$papillon-base-color: #C4BDDB;
$papillon-lt-color: #D1CCE3;
$flamingo-dark-color: #CF70AD;
$flamingo-base-color: #DE9CC7;
$flamingo-lt-color: #E7BDD9;
$dragon-wing-dark-color: #966AA1;
$dragon-wing-base-color: #AF8FB8;
$dragon-wing-lt-color: #C4ABC7;



