$spacing-01: 3.5px;   // 0.25
$spacing-02: 7px;     // 0.5
$spacing-03: 10.5px;  // 0.75
$spacing-04: 14px;    // 1
$spacing-05: 17.5px;  // 1.25
$spacing-06: 21px;    // 1.5
$spacing-07: 24.5px;  // 1.75
$spacing-08: 28px;    // 2
$spacing-09: 31.5px;  // 2.25
$spacing-10: 35px;    // 2.5
$spacing-11: 42px;    // 3
$spacing-12: 56px;    // 4
$spacing-13: 84px;    // 6
$spacing-14: 98px;    // 7
