// Component-specific styles - layout handled by PageLayoutComponent
@import '../../../styles/breakpoints';
.login-container {
  display: block;
  // display: flex;
  // justify-content: center;
  // align-items: flex-start;
  // flex: 1;
  // margin-top: 20px;
  // padding-top: 20px;
}

.login-card {
  width: 350px;
  max-width: 90%;
}

.login-form-wrapper {
  width: 300px;
  max-width: 90%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

// Page content styling
h2 {
  margin-bottom: 10px;
  margin-top: 0;
  color: #333;
}

p {
  color: #666;
  margin-bottom: 15px;
  margin-top: 0;
  line-height: 1.4;
}

.description {
  font-size: 14px;
  font-weight: 400;
}
.header {
  font-size: 16px;
  font-weight: 600;
}

.login-container {
  @include respond-to(xs) {
    .header {
      font-family: Inter;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
    }
    .description {
      font-family: Inter;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
  @include respond-to(sm) {
  }
  @include respond-to(md) {
  }
  @include respond-to(lg) {
  }
  @include respond-to(xl) {
  }
}
